#wrip #product {
  width: 100%;
  background-color: #fff;
  font-size: 0;
}
#wrip #product .area {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}
#wrip #product .area .pro-nav {
  width: 1200px;
  height: 56px;
  padding: 20px 0;
  font-size: 12px;
  box-sizing: border-box;
}
#wrip #product .area .pro-nav a {
  color: #707473;
}
#wrip #product .area .pro-nav > span {
  color: #ccc;
  margin: 0 5px;
}
#wrip #product .area .pro-nav > a:nth-child(4) {
  color: #979797 !important;
}
#wrip #product .area .pro-cnt {
  width: 1200px;
  height: 456px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
#wrip #product .area .pro-cnt .cnt-left {
  width: 608px;
  height: 456px;
}
#wrip #product .area .pro-cnt .cnt-left .cnt-left-top {
  width: 600px;
  height: 400px;
  background-size: cover;
  background-position: center;
}
#wrip #product .area .pro-cnt .cnt-left .cnt-left-bottom {
  margin-top: 16px;
  width: 608px;
  height: 40px;
  display: flex;
  justify-content: space-around;
}
#wrip #product .area .pro-cnt .cnt-left .cnt-left-bottom div {
  background-size: cover;
  background-position: center;
  width: 60px;
  height: 40px;
  /* border: 1px solid black; */
  margin-right: 16px;
}
#wrip #product .area .pro-cnt .cnt-left .cnt-left-bottom div:nth-child(1){
  border: 1px solid black;
}
#wrip #product .area .pro-cnt .cnt-left .cnt-left-bottom div a {
  display: inline-block;
  width: 58px;
  height: 38px;
}
#wrip #product .area .pro-cnt .cnt-right {
  width: 494px;
  height: 456px;
  font-size: 14px;
}
#wrip #product .area .pro-cnt .cnt-right .cnt-right-top {
  width: 494px;
}
#wrip #product .area .pro-cnt .cnt-right .cnt-right-top div:nth-child(1) {
  width: 494px;
  height: 36px;
  font-size: 30px;
  color: #333;
}
#wrip #product .area .pro-cnt .cnt-right .cnt-right-top div:nth-child(2) {
  width: 494px;
  margin-top: 20px;
  font-size: 26px;
  color: #000;
}
#wrip #product .area .pro-cnt .cnt-right .cnt-right-top div:nth-child(3) {
  width: 494px;
  margin-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}
#wrip #product .area .pro-cnt .cnt-right .cnt-right-top .cnt-right-ul {
  width: 494px;
  padding: 30px 0;
  list-style: inside;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  border-bottom: 1px solid #eee;
}
#wrip #product .area .pro-cnt .cnt-right .cnt-right-bottom {
  width: 494px;
  height: 48px;
  padding-top: 30px;
}
#wrip #product .area .pro-cnt .cnt-right .cnt-right-bottom .cnt-left {
  display: flex;
  flex-direction: row;
}
#wrip #product .area .pro-cnt .cnt-right .cnt-right-bottom .cnt-left input {
  width: 38px;
  height: 48px;
  text-align: center;
  border: 1px solid #dddddd;
  box-sizing: border-box;
}
#wrip
  #product
  .area
  .pro-cnt
  .cnt-right
  .cnt-right-bottom
  .cnt-left
  .cnt-btn
  button {
  display: block;
  width: 28px;
  height: 24px;
  border: 1px solid #dddddd;
  background-color: #fff;
}
#wrip #product .area .pro-cnt .cnt-right .cnt-right-bottom .cnt-left > button {
  width: 180px;
  height: 48px;
  border: 1px solid #dddddd;
  margin-left: 10px;
  background-color: #1890ff;
}
#wrip #product .area .pro-cnt .cnt-right .cnt-right-foot {
  width: 494px;
  margin-top: 20px;
  font-size: 14px;
  color: #707473;
}
#wrip #product .area .say-detail {
  width: 1200px;
  min-width: 1200px;
  border-bottom: 1px solid #dddddd;
}
#wrip #product .area .say-detail .detail-title {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #1890ff;
  color: #1890ff;
}
#wrip #product .area .say-detail .detail-cnt {
  /* height: 955px; */
  padding: 80px 0;
  box-sizing: border-box;
}
#wrip #product .area .say-detail .detail-cnt img {
  width: 1200px;
  /* height: 720px; */
}
#foot {
  width: 100%;
  height: 766px;
  margin-top: 0px;
  background-color: #fff;
}
a:hover{
  color: blue !important;
}