<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/hf.css" />
    <link rel="stylesheet" href="../css/ft.css" />
    <link rel="stylesheet" href="../css/Ma.css" />
</head>

<body>
    <div id="wrip">
        <!-- 头部 -->
        <div id="header">
            <div class="top_header">
                <a href="../view/index.html">DJI 大疆官网</a>
                <span> 满 ¥99 顺丰包邮。热门主机使用花呗，京东白条和招行分期最高可享 3 期免息，下单即享 1% DJI币返点。</span>
                <ul class="header_ul">
                    <li>
                        <a href="javascript:;">
                            <span class="iconfont">&#xe707;</span>
                            <span>购物车</span>
                            <span>0</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span>登录</span>
                        </a>
                    </li>
                    <li><a href="javascript:;">
                            <span>注册</span>
                        </a></li>
                    <li><a href="javascript:;">
                            <span>中国大陆(简体中文/￥CNY)</span>
                        </a></li>
                </ul>
            </div>
            <div class="bottom_header">
                <div class="bottom_header_box">
                    <div class="left">
                        <div class="left_log">
                            <a href="../view/index.html">
                                <span class="iconfont">&#xe6f7;</span>
                                <span>商城</span>
                            </a>
                        </div>
                        <div class="left_center">
                            <div>商品分类<span class="iconfont">&#xe731;</span></div>
                            <div>以旧换新</div>
                            <div>购机指南</div>
                            <div>DJI 大疆商城 APP</div>
                        </div>
                        <div class="left_right"></div>
                    </div>
                    <div class="right">
                        <input type="text" placeholder=" 搜索商品...">
                        <button class="iconfont" type="button">&#xe67d;</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 商品分类 -->
        <div id="goods">
            <div class="goods_min">
                <ul class="goods_ul">
                    <!-- <li>
                        <a href="javascript:;">
                            <div><img
                                    src="https://stormsend1.djicdn.com/stormsend/uploads/48c26180-9980-0136-3e40-12528100fbe3/mavic2.svg"
                                    alt="没有找到图片" /></div>
                            <div>御 Mavic</div>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
        <!-- 展示大图 -->
        <div id="center">
            <div class="big_img" style="background-image: url()">
                <span class="img_word">御 Mavic 系列</span>
            </div>
            <!-- 内容 -->
            <div class="center_goods">
                <div class="top_goods">
                    <h2>御 Mavic</h2>
                    <a href="javascript:;">更多&gt;</a>
                </div>
                <div class="conter_goods">
                    <a href="">
                        <div class="cnt_left"></div>
                        <div class="cnt_right">
                            <h3>DJI Mini 2</h3>
                            <p>小巧但性能犀利，可拍摄4K视频，实现4倍变焦，最远10公里控制距离。一键短片、一键全景，一键直出大片。智能易用，航拍轻而易举。</p>
                            <div class="cnt_right_price">￥2899</div>
                        </div>
                    </a>
                    <div class="conter-right"></div>
                </div>
                <div class="bottom_goods">
                    <ul class="goods_ul">
                        <li>
                            <a href="javascript:;">
                                <div class="li_left" style="background-image: url();"></div>
                                <div class="li_right">
                                    <h3>御 Mavic Air 2</h3>
                                    <p>可拍摄 8K 延时影片，4K/60fps 视频，4800 万像素照片。拥有最长 34 分钟续航，最远 10 公里图传距离，焦点跟随功能，支持自行避障。</p>
                                    <div class="li_right_price">￥4899</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 尾部 -->
        <div id="foot">
            <div class="area">
                <!-- 四个服务 -->
                <div class="foot_server">
                    <div class="server">
                        <div class="server_img">
                            <img src="../imgs/truck-moving.svg" alt="">
                        </div>
                        <div class="server_text">
                            <p>全场满 ¥99 顺丰包邮</p>
                            <p>（顺丰无法配送的区域将使用 EMS）</p>
                        </div>
                    </div>
                    <div class="server">
                        <div class="server_img">
                            <img src="../imgs/credit-card.svg" alt="">
                        </div>
                        <div class="server_text">
                            <p>支持支付宝、微信、银联、银行转账</p>
                            <p>支持花呗、京东白条和招行分期</p>
                        </div>
                    </div>
                    <div class="server">
                        <div class="server_img">
                            <img src="../imgs/comment-alt-smile.svg" alt="">
                        </div>
                        <div class="server_text">
                            <p>邮箱：<a href="javascript:;">support@dji.com</a></p>
                        </div>
                    </div>
                    <div class="server">
                        <div class="server_img">
                            <img src="../imgs/newGovIcon.gif" alt="">
                        </div>
                    </div>
                </div>
                <!-- 链接 -->
                <div class="foot_link">
                    <div class="link_content">
                        <dl>
                            <dt>商城热卖</dt>
                            <dd><a href="#">"御" Mavic</a></dd>
                            <dd><a href="#">"晓" Spark</a></dd>
                            <dd><a href="#">精灵 Phantom</a></dd>
                            <dd><a href="#">灵眸 Osmo</a></dd>
                            <dd><a href="#">"悟" Inspire</a></dd>
                            <dd><a href="#">如影 Ronin</a></dd>
                        </dl>
                    </div>
                    <div class="link_content">
                        <dl>
                            <dt>购买指南</dt>
                            <dd><a href="#">支付方式</a></dd>
                            <dd><a href="#">订单帮助</a></dd>
                            <dd><a href="#">发货和物流</a></dd>
                            <dd><a href="#">退换货条款</a></dd>
                            <dd><a href="#">技术支持</a></dd>
                            <dd><a href="#">售后服务政策</a></dd>
                            <dd><a href="#">DJI币返利计划</a></dd>
                        </dl>
                    </div>
                    <div class="link_content">
                        <dl>
                            <dt>商城项目</dt>
                            <dd><a href="#">以旧换新</a></dd>
                            <dd><a href="#">DJI大疆商城App</a></dd>
                        </dl>
                    </div>
                    <div class="link_content">

                        <dl>
                            <dt>社区</dt>
                            <dd><a href="#">天空之城</a></dd>
                            <dd><a href="#">DJI大疆社区</a></dd>
                            <dd><a href="#">购机指南</a></dd>
                        </dl>
                    </div>
                    <div class="link_content">
                        <form class="link_content_on">
                            <h3>订阅</h3>
                            <p>第一时间了解我们的促销活动、热销产品和最新信息。</p>
                            <div class="link_email">
                                <input type="email" placeholder="请输入您的邮箱" />
                                <button>&gt;</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- 版权相关 -->
                <div class="foot_bottom">
                    <div class="foot_bottom_cnt">
                        <div class="cnt_left">
                            <a href="javascript:;">
                                <span class="iconfont foot_logo">&#xe6f7;</span>
                            </a>
                            <a href="javascript:;">关于我们</a>
                            <a href="javascript:;">联系我们</a>
                            <a href="javascript:;">招聘精英</a>
                            <a href="javascript:;">官方旗舰店</a>
                        </div>
                        <div class="cnt_right">
                            <a href="javascript:;"><span class="iconfont">&#xe69a;</span></a>
                            <a href="javascript:;"><span class="iconfont">&#xe63e;</span></a>
                            <a href="javascript:;"><span class="iconfont">&#xe605;</span></a>
                        </div>

                    </div>
                    <!-- copyright -->
                    <div class="footer_copy">
                        <span>Copyright &copy; 2021 DJI 大疆创新 版权所有</span>
                        <a href="#">隐私权政策<i>·</i></a>
                        <a href="#">使用条款<i>·</i></a>
                        <a href="#">粤ICP备12032134号-11<i>·</i></a>
                        <a href="#">营业执照<i>·</i></a>
                        <a href="#">网站地图</a>
                        <div class="footer_copy_problem">
                            <span>网站问题反馈？</span>
                            <a href="#">点击这里</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../jQuery/jquery.js"></script>
    <script src="../js/utils.js"></script>
    <script src="../data/data-list.js"></script>
    <script src="../js/Mavic.js"></script>
</body>

</html>