<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/hf.css" />
    <link rel="stylesheet" href="../css/ft.css">
    <link rel="stylesheet" href="../css/product.css">
</head>

<body>
    <div id="wrip">
        <!-- 头部 -->
        <div id="header">
            <div class="top_header">
                <a href="../view/index.html">DJI 大疆官网</a>
                <span>满 ¥99 顺丰包邮。热门主机使用花呗，京东白条和招行分期最高可享 3 期免息，下单即享 1% DJI币返点。</span>
                <ul class="header_ul">
                    <li>
                        <a href="javascript:;">
                            <span class="iconfont">&#xe707;</span>
                            <span>购物车</span>
                            <span>0</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span>登录</span>
                        </a>
                    </li>
                    <li><a href="javascript:;">
                            <span>注册</span>
                        </a></li>
                    <li><a href="javascript:;">
                            <span>中国大陆(简体中文/￥CNY)</span>
                        </a></li>
                </ul>
            </div>
            <div class="bottom_header">
                <div class="bottom_header_box">
                    <div class="left">
                        <div class="left_log">
                            <a href="../view/index.html">
                                <span class="iconfont">&#xe6f7;</span>
                                <span>商城</span>
                            </a>
                        </div>
                        <div class="left_center">
                            <div>商品分类<span class="iconfont">&#xe731;</span></div>
                            <div>以旧换新</div>
                            <div>购机指南</div>
                            <div>DJI 大疆商城 APP</div>
                        </div>
                        <div class="left_right"></div>
                    </div>
                    <div class="right">
                        <input type="text" placeholder=" 搜索商品...">
                        <button class="iconfont" type="button">&#xe67d;</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 内容 -->
        <div id="product">
            <div class="area">
                <div class="pro-nav">
                    <!-- <a href="../view/index.html">商城首页</a><span>/</span>
                    <a href="javascript:;">御 Mavic系列</a><span>/</span>
                    <a href="javascript:;">御 Mavic Air 2</a><span>/</span> -->
                </div>
                <!-- 商品 -->
                <div class="pro-cnt">
                    <div class="cnt-left">
                        <div class="cnt-left-top" style="background-image: url();"></div>
                        <div class="cnt-left-bottom">
                            <!-- <div style=" background-image: url();">
                                <a href="javascript:;"></a>
                            </div> -->
                        </div>
                    </div>
                    <div class="cnt-right">
                        <div class="cnt-right-top">
                            <div>御 Mavic Air 2</div>
                            <div>￥4999</div>
                            <div>
                                <span>邮费:</span>
                                <span>免费</span>
                            </div>
                            <ul class="cnt-right-ul">
                                <!-- <li>4800 万像素照片</li> -->
                            </ul>
                        </div>
                        <div class="cnt-right-bottom">
                            <div class="cnt-left">
                                <input type="text" value="1">
                                <div class="cnt-btn">
                                    <button>+</button>
                                    <button>-</button>
                                </div>
                                <button>加入购物车</button>
                            </div>
                        </div>
                        <div class="cnt-right-foot">预计发货时间:订单付款后1个工作日</div>
                    </div>
                </div>
                <!-- 产品简介 -->
                <div class="say-detail">
                    <div class="detail-title">产品概览</div>
                    <div class="detail-cnt">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- 尾部 -->
        <div id="foot">
            <div class="area">
                <!-- 四个服务 -->
                <div class="foot_server">
                    <div class="server">
                        <div class="server_img">
                            <img src="../imgs/truck-moving.svg" alt="">
                        </div>
                        <div class="server_text">
                            <p>全场满 ¥99 顺丰包邮</p>
                            <p>（顺丰无法配送的区域将使用 EMS）</p>
                        </div>
                    </div>
                    <div class="server">
                        <div class="server_img">
                            <img src="../imgs/credit-card.svg" alt="">
                        </div>
                        <div class="server_text">
                            <p>支持支付宝、微信、银联、银行转账</p>
                            <p>支持花呗、京东白条和招行分期</p>
                        </div>
                    </div>
                    <div class="server">
                        <div class="server_img">
                            <img src="../imgs/comment-alt-smile.svg" alt="">
                        </div>
                        <div class="server_text">
                            <p>邮箱：<a href="javascript:;">support@dji.com</a></p>
                        </div>
                    </div>
                    <div class="server">
                        <div class="server_img">
                            <img src="../imgs/newGovIcon.gif" alt="">
                        </div>
                    </div>
                </div>
                <!-- 链接 -->
                <div class="foot_link">
                    <div class="link_content">
                        <dl>
                            <dt>商城热卖</dt>
                            <dd><a href="#">"御" Mavic</a></dd>
                            <dd><a href="#">"晓" Spark</a></dd>
                            <dd><a href="#">精灵 Phantom</a></dd>
                            <dd><a href="#">灵眸 Osmo</a></dd>
                            <dd><a href="#">"悟" Inspire</a></dd>
                            <dd><a href="#">如影 Ronin</a></dd>
                        </dl>
                    </div>
                    <div class="link_content">
                        <dl>
                            <dt>购买指南</dt>
                            <dd><a href="#">支付方式</a></dd>
                            <dd><a href="#">订单帮助</a></dd>
                            <dd><a href="#">发货和物流</a></dd>
                            <dd><a href="#">退换货条款</a></dd>
                            <dd><a href="#">技术支持</a></dd>
                            <dd><a href="#">售后服务政策</a></dd>
                            <dd><a href="#">DJI币返利计划</a></dd>
                        </dl>
                    </div>
                    <div class="link_content">
                        <dl>
                            <dt>商城项目</dt>
                            <dd><a href="#">以旧换新</a></dd>
                            <dd><a href="#">DJI大疆商城App</a></dd>
                        </dl>
                    </div>
                    <div class="link_content">

                        <dl>
                            <dt>社区</dt>
                            <dd><a href="#">天空之城</a></dd>
                            <dd><a href="#">DJI大疆社区</a></dd>
                            <dd><a href="#">购机指南</a></dd>
                        </dl>
                    </div>
                    <div class="link_content">
                        <form class="link_content_on">
                            <h3>订阅</h3>
                            <p>第一时间了解我们的促销活动、热销产品和最新信息。</p>
                            <div class="link_email">
                                <input type="email" placeholder="请输入您的邮箱" />
                                <button>&gt;</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- 版权相关 -->
                <div class="foot_bottom">
                    <div class="foot_bottom_cnt">
                        <div class="cnt_left">
                            <a href="javascript:;">
                                <span class="iconfont foot_logo">&#xe6f7;</span>
                            </a>
                            <a href="javascript:;">关于我们</a>
                            <a href="javascript:;">联系我们</a>
                            <a href="javascript:;">招聘精英</a>
                            <a href="javascript:;">官方旗舰店</a>
                        </div>
                        <div class="cnt_right">
                            <a href="javascript:;"><span class="iconfont">&#xe69a;</span></a>
                            <a href="javascript:;"><span class="iconfont">&#xe63e;</span></a>
                            <a href="javascript:;"><span class="iconfont">&#xe605;</span></a>
                        </div>

                    </div>
                    <!-- copyright -->
                    <div class="footer_copy">
                        <span>Copyright &copy; 2021 DJI 大疆创新 版权所有</span>
                        <a href="#">隐私权政策<i>·</i></a>
                        <a href="#">使用条款<i>·</i></a>
                        <a href="#">粤ICP备12032134号-11<i>·</i></a>
                        <a href="#">营业执照<i>·</i></a>
                        <a href="#">网站地图</a>
                        <div class="footer_copy_problem">
                            <span>网站问题反馈？</span>
                            <a href="#">点击这里</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../jQuery/jquery.js"></script>
    <script src="../js/utils.js"></script>
    <script src="../data/data-detail.js"></script>
    <script src="../js/product.js"></script>
</body>

</html>